/*------------
 Fonts
 ------------*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #ffffff;
    line-height: 1.5;
}
*{
    margin: 0;
    padding: 0;
    outline: none !important;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
a{
    text-decoration: none !important;
    color: var(--primary);
}
a:hover {
    text-decoration: none;
    color: var(--hov-primary !important);
}
:focus,
a:focus,
button:focus,
.page-link:focus,
.custom-file-input:focus ~ .custom-file-label {
    box-shadow: none;
    outline: none;
}
ul{
    list-style: none;
}
p{
    margin: 0 !important;
    padding: 0 !important;
}

.main-wrapper{
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--light);
}


.d-flex {
	display: -ms-flexbox !important;
	display: flex !important;
}
.ml-3, .mx-3 {
	margin-left: 1rem !important;
}
.mr-0, .mx-0 {
	margin-right: 0 !important;
}
.d-lg-block {
	display: block !important;
}
.pr-3, .px-3 {
	padding-right: 1rem !important;
}
.border-lg {
	border: 1px solid #e2e5ec !important;
}

.btn-primary, .btn-soft-primary:hover, .btn-outline-primary:hover {
	background-color: var(--primary);
	border-color: var(--primary);
	color: var(--white);
}
.btn {
    padding: 0.6rem 1.2rem;
    font-size: 0.875rem;
    font-weight: inherit;
}
.btn-soft-primary {
	background-color: var(--soft-primary);
	color: var(--primary);
}
.form-control {
	padding: 0.6rem 1rem;
	font-size: 0.875rem;
	height: calc(1.3125rem + 1.2rem + 2px);
	border: 1px solid #e2e5ec;
	color: #898b92;
}
.btn-sm {
	padding: .66rem 1rem;
	font-size: 0.8125rem;
}
.btn-circle {
    border-radius: 50em;
}
.btn-light, .btn-outline-light:hover {
    background-color: var(--light);
    border-color: var(--light);
}

/** Header **/
.active{
	opacity: 1 !important;
}
.top-navbar{
    background-color: var(--primary);
    font-size: 12px;
}
.border-right {
	border-right: 1px solid #dee2e6 !important;
}


.cart-nav-link {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	color: #fff;
	background: var(--primary);
	display: -moz-box;
	display: flex;
	-moz-box-pack: center;
	justify-content: center;
	-moz-box-align: center;
	align-items: center;
	position: relative;
}
.header-nav {
	margin: 5px 15px;
	text-decoration: none !important;
	color: #000;
	font-weight: 500;
	font-size: 14px;
	padding: 0;
}
.cart-nav-link .cart-qty, .wishlist-nav-link .wishlist-qty {
	position: absolute;
	background: var(--green);
	color: #fff;
	font-size: 10px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	top: -7px;
	right: -7px;
	text-align: center;
	border: 2px solid #fff;
}

/*** Category Menu**/
.category-nav-element{
    border-bottom: 1px solid  var(--black-100);
}
.category-nav-element a{
    font-size: 14px;
}
.category-nav-element a:hover{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

/** Feature Product Carousel */
.product-items {
	padding: 10px;
	box-shadow: var(--shadow-black-100);
	/* border-radius: 10px; */
	text-align: center;
	overflow: hidden;
	position: relative;
	height: 320px;
}
.product-item {
	margin: 0 10px 10px 10px;
	padding: 10px;
	box-shadow: var(--shadow-black-100);
	/* border-radius: 10px; */
	text-align: center;
	overflow: hidden;
	position: relative;
}
.product-card-link:hover>.img-box img{
	-webkit-transform:scale(1.1);
 	transform:scale(1.1);
}
.product-item .img-box {
	height: 200px;
	/* width: 180px; */
	display: inline-block;
	margin-bottom: 10px;
	/* border: 4px solid var(--primary); */
	position: relative;
	
}
.product-item .img-box img{
	-webkit-transition:all .2s linear;
	transition:all .2s linear;
	
}
.product-item h3 {
	font-size: 0.8125rem !important;
	color: var(--black-900);
	font-weight: 500;
	line-height: 1.4 !important;
	margin: 10px 0;
}
.img-fit {
	max-height: 100%;
	width: 100%;
	object-fit: cover;
}


.simple-btn {
	outline: none;
	border: none;
	border-radius: 4px;
	color: #fff;
	padding: .9em 1.5em;
	width: 100%;
	font-weight: 500;
	font-size: .77rem;
	font-family: inherit;
	text-transform: uppercase;
}
.simple-btn {
	font-size: 12px;
	color: #000;
	background-color: transparent;
	border: 1px solid #ddd;
	-webkit-transition: all .1s ease-in;
	transition: all .1s ease-in;
}
.simple-btn:hover {
	color:#fff;
	background-color:var(--primary);
	border:1px solid var(--primary)
   }
   .simple-btn:hover .simple-btn__icon {
	color:#fff
   }

.badge-custom {
	margin-left: -10px;
	display: inline-block;
	padding: 3px;
	font-size: 11px;
	border-radius: 0 50em 50em 0;
	color: #ff0000;
	font-weight: 600;
	line-height: 26px;
	position: absolute;
	background: #fff;
	z-index: 1;
	top: 20px;
	left: 10px;
	box-shadow: 2px 1px 6px 2px rgba(0, 0, 0, 0.1), 0 4px 4px 0px rgba(0, 0, 0, 0.06) !important;
}
.badge-stock {
	margin-left: -10px;
	display: inline-block;
	padding: 3px;
	font-size: 11px;
	border-radius: 50em 0 0 50em;
	color: var(--green);
	font-weight: 600;
	line-height: 26px;
	position: absolute;
	background: #fff;
	z-index: 1;
	top: 20px;
	box-shadow: 2px 1px 6px 2px rgba(0, 0, 0, 0.1), 0 4px 4px 0px rgba(0, 0, 0, 0.06) !important;
	right: 0;
}
.badge-stock-out {
	margin-left: -10px;
	display: inline-block;
	padding: 3px;
	font-size: 11px;
	border-radius: 50em 0 0 50em;
	color: var(--color-primary);
	font-weight: 600;
	line-height: 26px;
	position: absolute;
	background: #fff;
	z-index: 1;
	top: 20px;

	box-shadow: 2px 1px 6px 2px rgba(0, 0, 0, 0.1), 0 4px 4px 0px rgba(0, 0, 0, 0.06) !important;
	right: 0;
}
.absolute-top-right {
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

[dir="rtl"] .absolute-top-right {
    right: auto;
    left: 0;
}
.product-item:hover .kz-p-hov-icon button {
    transform: translateX(0);
    -webkit-transform: translateX(0);
	
}
.product-items:hover .kz-p-hov-icon button {
    transform: translateX(0);
    -webkit-transform: translateX(0);
	
}
.kz-p-hov-icon button {
	display: block;
	height: 32px;
	width: 32px;
	line-height: 32px;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	margin-top: 5px;
	margin-right: 5px;
	color: #333;
	font-size: 15px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 3px 8px rgba(0,0,0,0.12);
	transform: translateX(calc(100% + 7px));
	-webkit-transform: translateX(calc(100% + 7px));
}
[dir="rtl"] .kz-p-hov-icon button{
    transform: translateX(calc(-100% - 7px));
    -webkit-transform: translateX(calc(-100% - 7px));
    margin-left: 5px;
}
.kz-p-hov-icon button:hover {
    background: var(--primary);
    color: #fff;
}
.kz-p-hov-icon button:nth-child(2) {
    transition-delay: 0.05s;
    -webkit-transition-delay: 0.05s;
}
.kz-p-hov-icon button:nth-child(3) {
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
}

.router-link-active {
	/* opacity: 1; */
	color: #0a0080 !important;
}
/** Category Section */
.category-list {
	margin: 10px;
	padding: 10px;
	box-shadow: var(--shadow-black-100);
	/* border-radius: 10px; */
	text-align: center;
	overflow: hidden;
	position: relative;
}

.category-list .img-box {
	height: 200px;
	width: 180px;
	display: inline-block;
	margin-bottom: 10px;
	/* border: 4px solid var(--primary); */
	position: relative;
	
}
.category-list .img-box img{
	-webkit-transition:all .2s linear;
	transition:all .2s linear;
	
}
.category-list h3 {
	font-size: 0.8125rem !important;
	color: var(--black-900);
	font-weight: 600;
	line-height: 1.4 !important;
	margin: 10px 0;
}
.cat-img {
	width: 20px;
	margin-right: 10px;
	border-radius: 50%;
}
/**KZ CSS */
.border-light {
	border-color: var(--light) !important;
}
.kz-card-box {
	overflow: hidden;
}

.kz-img-box{
	-webkit-transition:all .2s linear;
	transition:all .2s linear;
	
}
.kz-card-box:hover>.kz-img-box{
	-webkit-transform:scale(1.1);
 	transform:scale(1.1);
}


/*** Cart Box***/
.dropdown-menu.dropdown-menu-lg {
	width: 320px;
	min-width: 320px;
}

.dropdown-menu {
	border-color: #e2e5ec;
	margin: 0;
	border-radius: 0;
	min-width: 14rem;
	font-size: inherit;
	padding: 0;
	-webkit-box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
	box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
	padding: 0.5rem 0;
	border-radius: 4px;
	max-width: 100%;
}
/* .list-group-item {
	position: relative;
	display: block;
	padding: .75rem 1.25rem;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
} */
.text-truncate-2 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.list-group-flush>.lists-group-item {
    border-width: 0 0 1px;
}
.lists-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.lists-group-item {
    border-color: #ebedf2;
}
.lists-group-item {
    position: relative;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
input.col.border-0.text-center.flex-grow-1.fs-16.input-number {
    padding: 0 10px;
}
.text-md-left {
    text-align: left!important;
}
.text-md-right {
    text-align: right!important;
}

/*Footer Area*/
.footer-section {
	background-color:#172337;
	color:#fff;
	width:100%
   }
   .footer-info {
	padding:30px 0
   }
   .footer-info h3 {
	text-transform:uppercase;
	font-weight:500;
	font-size:1em
   }
   .footer-info h3 a {
	font-weight:400;
	text-decoration:none;
	color:#fff;
	display:block;
	margin:10px 0
   }
   .footer-info a:hover {
	color:#cacaca
   }
   .footer-bottom p,
   .footer-info a,
   .footer-info input,
   .footer-info p {
	font-size:14px
   }
   .footer-bottom {
	background-color:#000e25
   }
   .footer-bottom .footer-bottom-info {
	padding:10px 0;
	font-size:14px;
	display:-moz-box;
	display:flex;
	-moz-box-align:center;
	align-items:center;
	-moz-box-pack:justify;
	justify-content:space-between
   }
   ul.social-media {
	display:-moz-box;
	display:flex;
	padding-left:0;
	margin-left:0
   }
   .social-media li {
	display:-moz-box!important;
	display:flex!important;
	-moz-box-pack:center!important;
	justify-content:center!important;
	-moz-box-align:center!important;
	align-items:center!important;
	list-style-type:none;
	display:inline-block;
	margin:10px 5px;
	color:#fff;
	height:35px;
	width:35px;
	border-radius:50%;
	text-align:center;
	font-size:1.3em;
	cursor:pointer;
	-webkit-transition:.5s;
	transition:.5s
   }
   .social-media li:first-child {
	margin-left:0
   }
   .social-media li a {
	color:#fff;
	-webkit-transition:.5s;
	transition:.5s;
	font-size:18px
   }
   .social-media .social-facebook {
	background-color:#6081c4;
	border:2px solid #6081c4
   }
   .social-media .social-facebook:hover {
	background-color:#fff;
	-webkit-transform:translateY(-3px);
	transform:translateY(-3px)
   }
   .social-media .social-facebook:hover a {
	color:#6081c4
   }
   .social-media .social-youtube {
	background-color:#e30210;
	border:2px solid var(--color-primary);
   }
   .social-media .social-youtube:hover {
	background-color:#fff;
	-webkit-transform:translateY(-3px);
	transform:translateY(-3px)
   }
   .social-media .social-youtube:hover a {
	color:var(--color-primary)
   }
   .social-media .social-twitter {
	background-color:#43bdef;
	border:2px solid #43bdef
   }
   .social-media .social-twitter:hover {
	background-color:#fff;
	-webkit-transform:translateY(-3px);
	transform:translateY(-3px);
	color:#43bdef!important
   }
   .social-media .social-twitter:hover a {
	color:#43bdef
   }
   .social-media .social-linkedIn {
	background-color:#2797cf;
	border:2px solid #2797cf
   }
   .social-media .social-linkedIn:hover {
	background-color:#fff;
	-webkit-transform:translateY(-3px);
	transform:translateY(-3px);
	color:#2797cf!important
   }
   .social-media .social-linkedIn:hover a {
	color:#2797cf
   }
   .social-media .social-whatsApp {
	background-color:#23b180;
	border:2px solid #23b180
   }
   .social-media .social-whatsApp:hover {
	background-color:#fff;
	-webkit-transform:translateY(-3px);
	transform:translateY(-3px);
	color:#23b180!important
   }
   .social-media .social-whatsApp:hover a {
	color:#23b180
   }
   .social-media .social-instagram {
	background-color:#e46258;
	border:2px solid #e46258
   }
   .social-media .social-instagram:hover {
	background-color:#fff;
	-webkit-transform:translateY(-3px);
	transform:translateY(-3px);
	color:#e46258!important
   }
   .social-media .social-instagram:hover a {
	color:#e46258
   }



/* */
.flashDealButton {
	color:#f6f6f6;
	border:none;
	outline:none;
	font-weight:600;
	text-align:left;
	position:fixed;
	right:0;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	z-index:999;
	font-size:14px;
	padding:0;
	width:auto;
	opacity:.9;
	-webkit-box-shadow:10px 20px 30px rgba(139,195,74,.050980392156862744);
	box-shadow:10px 20px 30px rgba(139,195,74,.050980392156862744)
   }
   .fixed-cart-items {
	width:100%;
	display:-moz-box;
	display:flex;
	-moz-box-orient:vertical;
	-moz-box-direction:normal;
	flex-direction:column;
	-moz-box-align:center;
	align-items:center;
	background:#387f34;
	color:#fff;
	opacity:.9;
	padding:10px 10px 5px
   }
   .fixed-cart-items span:first-child {
	color:#fff;
	width:20px;
	height:20px;
	margin-bottom:5px
   }
   .fixed-cart-items span:first-child svg {
	width:100%;
	height:100%
   }
   .fixed-cart-price {
	width:100%;
	background-color:#fff;
	padding:17px 10px;
	opacity:.8;
	-webkit-box-shadow:-13px 14px 40px rgba(96,125,139,.1803921568627451);
	box-shadow:-13px 14px 40px rgba(96,125,139,.1803921568627451)
   }
   .fixed-cart-price span {
	color:#000;
	font-weight:400
   }
   .flash-deal-section {
	margin-top:20px
   }
   .flash-deal-card {
	-webkit-box-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
	box-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
	background-color:#fff;
	padding:10px;
	display:-moz-box;
	display:flex;
	border-radius:5px;
	margin-bottom:10px;
	position:relative
   }
   .flash-deal-img {
	width:45%;
	max-height:250px;
	padding:5px;
	overflow:hidden;
	align-self:center
   }
   .flash-deal-img img {
	width:100%;
	height:100%;
	object-fit:contain
   }
   .flash-deal-detail {
	width:65%;
	font-size:16px;
	padding-left:20px;
	display:-moz-box;
	display:flex;
	-moz-box-orient:vertical;
	-moz-box-direction:normal;
	flex-direction:column;
	-moz-box-pack:justify;
	justify-content:space-between
   }
   .flash-deal-detail .flash-deal-title-link {
	color:inherit;
	text-decoration:underline
   }
   .flash-deal-detail .flash-deal-title-link:hover {
	color:var(--color-primary);
	text-decoration:underline
   }
   .flash-deal-title {
	overflow:hidden;
	text-overflow:ellipsis;
	width:80%;
	white-space:nowrap;
	margin:5px
   }
   .flash-deal-detail .flash-deal-title {
	font-size:1em;
	font-weight:600
   }
   .flash-deal-prices {
	display:-moz-box;
	display:flex;
	-moz-box-pack:justify;
	justify-content:space-between;
	-moz-box-align:center;
	align-items:center;
	margin:15px 0
   }
   .flash-deal-detail .price,
   .inStock {
	color:#9c9a9a;
	font-weight:500
   }
   .flash-deal-detail .price .offerPrice {
	color:var(--color-primary)!important;
	font-size:22px
   }
   .flash-deal-detail .inStock span {
	color:#07f!important
   }
   .flash-deal-actions {
	display:-moz-box;
	display:flex;
	-moz-box-align:center;
	align-items:center
   }
   .flash-deal-actions div:last-child {
	width:20px;
	height:20px;
	margin-left:10px
   }
   .flash-deal-actions__love {
	position:absolute;
	top:22px;
	right:22px
   }
   .flash-deal-actions div svg {
	width:100%!important;
	height:100%
   }
   .deal-flash.quantity {
	margin:10px 0 0
   }
   .displayedTime {
	background-color:#f9f9f9;
	padding:10px;
	border-radius:5px
   }





   /*** Cart Slide **/
   
.absolute-top-right {
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

[dir="rtl"] .absolute-top-right {
    right: auto;
    left: 0;
}
.product-item:hover .kz-p-hov-icon a {
    transform: translateX(0);
    -webkit-transform: translateX(0);
	
}
.product-items:hover .kz-p-hov-icon a {
    transform: translateX(0);
    -webkit-transform: translateX(0);
	
}
.kz-p-hov-icon a {
	display: block;
	height: 32px;
	width: 32px;
	line-height: 32px;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	margin-top: 5px;
	margin-right: 5px;
	color: #333;
	font-size: 15px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 3px 8px rgba(0,0,0,0.12);
	transform: translateX(calc(100% + 7px));
	-webkit-transform: translateX(calc(100% + 7px));
}
[dir="rtl"] .kz-p-hov-icon a{
    transform: translateX(calc(-100% - 7px));
    -webkit-transform: translateX(calc(-100% - 7px));
    margin-left: 5px;
}
.kz-p-hov-icon a:hover {
    background: var(--primary);
    color: #fff;
}
.kz-p-hov-icon button:nth-child(2) {
    transition-delay: 0.05s;
    -webkit-transition-delay: 0.05s;
}
.kz-p-hov-icon button:nth-child(3) {
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
}